<div class="">
   <h3 class="h4"><%= @agent.full_name %></h3>
    <p><%= @agent.company %></p>
    
    <button class="btn btn-info">Call now</button>
    <button class="btn btn-success">Email for more details</button>

</div>